/* بسم الله */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::after, 
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* لجميع المتصفحات */
input[type="number"] {
    -moz-appearance: textfield; /* للمتصفحات التي تعتمد على محرك Firefox */
    -webkit-appearance: none; /* للمتصفحات التي تعتمد على Webkit مثل Chrome وSafari */
    appearance: none; /* للتأكد من تغطية جميع المتصفحات الداعمة */
}

/* إزالة الأسهم من الحقول في Chrome وSafari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* إزالة الهوامش الافتراضية */
}
 
img {
    display: inline-block;
}
:root {
    --white: #fff;
    --black: #000;
    --clr-50: #eef3ff;
    --clr-100: #dae4ff;
    --clr-200: #bdd1ff;
    --clr-300: #90b4ff;
    --clr-400: #4d82ff;
    --clr-500: #3563fc;
    --clr-600 :#1f41f1;
    --clr-700 : #172dde;
    --clr-800 : #1927b4;
    --clr-900 : #1a278e;
    --clr-900-25 : rgba(26, 40, 142, 0.25);
    --clr-950 : #151a56;
    --clr-950-50 : #151a5680;
    --clr-950-75 : #151a56bf;
}

.no-select, h3, span, p, a {
    user-select: none; /* يمنع تحديد النصوص */
    -webkit-user-select: none; /* دعم لمتصفح Safari */
    -moz-user-select: none; /* دعم لمتصفح Firefox */
    -ms-user-select: none; /* دعم لمتصفح Internet Explorer */
}
.btn {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
}

.counter {
    display: flex;
    height: max-content;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bolder;
    background-color: var(--clr-700);
    border: 2px solid var(--clr-700);
}

.counter .plus:active, 
.counter .plus:hover, 
.counter .minus:active, 
.counter .minus:hover, 
.counter .num {
    background-color: var(--clr-100);
    color: var(--clr-700) ;
}
.counter .plus, 
.counter .minus, 
.counter .num {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1rem .5rem;
    background-color: rgba(0, 0, 0, 0);
    /* opacity: 0; */
    color: var(--white);
    border: none; outline: none;
    border-radius: 3px;
} 
.counter .num {
    all: unset;
    /* color: var(--clr-700); */
    border-radius: 3px;
    color: var(--clr-100);
    width: 2rem;
    text-align: center;
}
.counter .minus,
.counter .num {
    display: none;
}

.container {

}
.shadow {
    box-shadow: 0 4px 4px 0 var(--clr-900-25);
    text-shadow: 0 4px 4px var(--clr-900-25);
}

.app {
    position: relative;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    width: 100vw;
    height: 100dvh;
}

/* ================== Start Side Nav ================== */
.side-nav.dark {
    background-color: var(--clr-900);
}
.side-nav {
    position: absolute;
    /* position: relative; */
    top: 0;
    left: 0;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    color: var(--white);
    background-color: var(--clr-800);
}
.side-nav ul.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    font-size: 1.1rem;
    width: max-content;
    padding-inline-start: 20vw;
    padding-top:  10vh;
}
.side-nav ul.nav a {
    display: inline-block;
    width: max-content;
    padding: 8px 10px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--white);
}
.side-nav ul.nav a.active, 
.side-nav ul.nav a:hover,
.side-nav ul.nav a:focus,
.side-nav ul.nav a:active {
    background-color: var(--clr-600);
}
.side-nav ul.nav a .fa-solid {
    display: inline-block;
    margin-inline-end: 1.2rem;
}

.side-nav  .copyright{
    position: absolute;
    bottom: -1.5rem;
    left: 1rem;
    transform: translateY(-100%);
    text-align: center;
    font-size: .8rem;
}
.side-nav  .copyright img {
    /* has shadow */
    display: inline-block;
    margin-bottom: .4rem;
    width: 60px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
}
/* ================== End Side Nav ================== */
.dark {
    transition: 500ms;
}
/* ================== Start Init Main  ================== */
main.dark {
    background-color: var(--clr-900);
    background: radial-gradient(
        /* closest-side, */
        circle at bottom left,
        /* circle at top right, */
        var(--clr-800) 0%, 
        var(--clr-700) 20%, 
        var(--clr-800) 40%, 
        var(--clr-950) 100%
    );
}
main.small {
    /* transform: translate(45vw, 50vh); */
    top: 50vh;
    left: 45vw ;
    border-radius: 24px;
    outline: 14px solid var(--clr-600);
}
main {
    /* position: absolute; */
    position: relative;
    transition:  500ms;
    /* transform: translate(0,0); */
    z-index: 5;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    background: var(--clr-50);
    overflow: scroll;
}
/* ================== End Init Main  ================== */
/* ================== Start Main Navbar  ================== */
main .navbar {
    display: flex;
    align-items: center;
    height: max-content;
    width: 100%;
    margin-bottom: 1rem;
}

main .navbar img {
    object-fit: cover;
    background-color: var(--clr-50);
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
main .navbar .left {
    margin-left: auto;
}
main .navbar .left .dark {
    color: var(--white);
}
main .navbar .left .btn {
    border-radius: 5px;
    height: 100%;
    padding: 5px 9px;
    color: var(--black);
    background-color: var(--white);
}

main .navbar .left * {
    display: inline-block;
    margin-left: .5rem;
}
/* ================== End Main Navbar  ================== */

/* ================== Start Main Category Nav  ================== */

.category-nav::-webkit-scrollbar {
    display: none
}
.category-nav {
    position: sticky;
    top: 0px;
    z-index: 2;
    /* background-color: var(--clr-50-50); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    width: 100%;
    margin-bottom: 1rem;
    padding-block: .5rem;
    overflow-x: scroll;
    scrollbar-width: none;
}
.category-nav .item {
    display: flex;
    align-items: center;
    gap: 5px;
    
    padding: 3px 4px 3px 8px;
    color: var(--clr-950);
    background-color: var(--clr-50);
    border: none;outline: none;
    border-radius: 50px;
    width: max-content;
}
.category-nav .item:hover,
.category-nav .item.active
{
    color: var(--clr-50);
    background-color: var(--clr-500);
}
.category-nav .item img {

    width: 35px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
}
.category-nav .item img:empty {
    background-color: var(--clr-950);
    border: none;
    outline: none;
}
/* ================== End Main Category Nav  ================== */

/* ================== Start Main Results  ================== */
.results {
    height: 100%;
}
.results .result-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.results .result-bar .left {
    display: inline-block;
    padding: 7px;
    border-radius: 7px;
    background-color: var(--clr-50);
    color: var(--black);
}
.results .result-bar .left .badge {
    display: inline-block;
    padding: 1px 7px;
    border-radius: 5px;
    background-color: var(--clr-100);
    color: var(--clr-500);
}
.results .result-bar .right {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-inline: 1rem;
    border-radius: .5rem;
    color: var(--black);
    background-color: var(--clr-50);
}
.results .result-bar .right .active,
.results .result-bar .right .fa-solid:hover,
.results .result-bar .right .fa-solid:active,
.results .result-bar .right .fa-solid:focus {
    color: var(--clr-600);
}

/* Cards List */

.cards-holder.list .card {
    position: relative;
    display: flex;
    overflow-x: hidden;
    max-width: 100%;
    /* padding: 1rem 0; */
    padding-block: .4rem;
    border-radius: 1rem;
}
.cards-holder.list .card:last-child {
    padding-bottom: 4.5rem;
}

.card .calory {
    display: inline-block;
    position: absolute;
    padding: 4px 5px;
    border-radius: 5px;

    color: #EF4444;
    background-color: #fee2e2;
    font-size: .8rem;
    font-weight: bolder;
}
.card .calory .fa-solid {
    display: inline-block;
    padding-left: .3rem;
    text-shadow: 
    0 0 2px white,
    0 0 4px red,
    0 0 6px yellow;
    font-size: 1rem;
}

.cards-holder.list .card .calory, 
.cards-holder.list .card .counter
{
    position: absolute;
    transform: translateY(-50%);
}
.cards-holder.list .card .counter {
    top: 75%;
    right: .5rem;
}
.cards-holder.list .card .calory {
    bottom: .5rem;
    left: calc(.7rem + 100px);
    transform: translateY(-50%);
}
.cards-holder.list .card .content{
    padding: .6rem .6rem;
    background-color: var(--clr-900);
    color: var(--clr-50);
    width: 100%;
}
.cards-holder.list.dark .card .content{
    background-color: var(--clr-950);
}
.cards-holder.list .card .content h3{
    font-size: 1rem;
    margin-bottom: 2px;
}
.cards-holder .card .content span {
    font-size: .9rem;
    font-weight: bolder;
}
.cards-holder.list .card img {
    height: 100px;
    aspect-ratio: 1;
    object-fit: cover;
}

/* Cards Grid */
.results .cards-holder.grid {
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    gap: 1rem;
    padding-bottom: 4.3rem;
    /* padding-bottom: 13.5rem; */
}
.cards-holder.grid .card {
    position: relative;
    flex: 0 0 calc(50% - .5rem);
    aspect-ratio: 1;
    border-radius: 10px;
    overflow: hidden;
}
.cards-holder.grid .card  .calory {
    /* display: block;
    width: fit-content; */
    /* position: static; */
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-block: .3rem;
}
.cards-holder.grid .card .content {
    position: absolute; 
    bottom: 0;
    width: 100%;
    height: max-content;
    /* padding-inline-start: .4rem; */
    padding: .4rem .4rem;
    padding-bottom: 1.1rem;
    -webkit-backdrop-filter: blur(3px); /* دعم للمتصفحات القديمة */
    backdrop-filter: blur(3px); /* تطبيق الضبابية */
    background: linear-gradient(to top right, var(--clr-950-75) 35%, rgba(0, 0, 0, 0));

    color: var(--clr-50)
}
.cards-holder.grid .card img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    background-color: var(--clr-500);
}
.cards-holder.grid .card img:empty{
    background-color: var(--clr-500);
}
.cards-holder.grid .card h3 {
    font-size: .9rem;
    margin-bottom: -1px ;
}
.cards-holder.grid .card .content span {
    font-size: .8rem;
}
.cards-holder.grid .card .content .counter {
    position: absolute;
    bottom: .35rem;
    right: .5rem;
}

/* ================== End Main Results  ================== */

/* ================== Start bottom nav  ================== */
.bottom-nav.dark {
    background-color: var(--clr-900);
}
.bottom-nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0px;
    width: 100%;
    height: max-content;
    z-index: 3;
    /* border-radius: 1rem; */
    background-color: var(--clr-700);
    color: var(--white);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.bottom-nav .fa-solid {
    display: inline-block;
    padding: 1.8rem 1.5rem;
}

.bottom-nav .logo {
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    top: -20px;
    width: 70px; 
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
}
.bottom-nav .logo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: var(--clr-50);
    border-radius: 50%;
    outline: 5px solid var(--clr-400);
}

.bottom-nav .cart {
    position: relative;
}
.bottom-nav .cart span{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    top: 5px;
    right: 12px;
    padding: 1px 5px;
    /* aspect-ratio: 1; */
    border-radius: 50%;
    outline: 1px solid var(--white);
    background-color: red;
}
/* ================== End bottom nav  ================== */


